

@{
    ViewBag.Title = "SignUp";
}

<h2>SignUp</h2>

@Html.ActionLink("SignUp As Developer", "SignUp")
@Html.ActionLink("SignUp As Customer", "CustSignUp", "Customer")

@*@{
        ViewBag.Title = "signUp";
    }


    <head>

        <link href="~/Contents/HomeIndex.css" rel="stylesheet" type="text/css" />
        <title>Developer Xpertize</title>
    </head>

    <header>
        <div class="title">
            <h1>Developer Xpertize</h1>
            <h5>Hire the best developers for any job, online..</h5>
        </div>




        <div align="center" class="btncenter">
            <button type="button" class="btn btn-light" data-toggle="button" aria-pressed="false" autocomplete="off">
                <a href="/Customer/CustomerRegistration" class="btn btn-primary btn-lg disabled" data-toggle="button" role="button" aria-disabled="true">Hire a Developer</a>

            </button>
            <button type="button" class="btn btn-light" data-toggle="button" aria-pressed="false" autocomplete="off">
                <a href="/Developers/Index" class="btn btn-primary btn-lg disabled" data-toggle="a" role="button" aria-disabled="true">Earn a Money</a>
            </button>
        </div>

    </header>*@